h1{
	color: #08419C;
	background-color: #246B65;
	text-align: center;
}
			
h2{
	color: #0FA219;
	background-color: #2E4873;
}

a
{
	color:#184388;
}

body 
{
	color: black;
	background-color: #009186;
	
}