h1{
	color: #08419C;
	background-color: #246B65;
	text-align: center;
	font-size: 48px;
	
}
			
h2{
	color: #0FA219;
	background-color: #2E4873;
	font-size: 24px
}

a
{
	color:#184388;
}

body 
{
	color: black;
	background-color: #009186;
	font-family: "gill-sans", sans-serif;
	font-size: 16px;
	line-height: 1.5;

	
	
}

h5{
	font-size: 12px;
	
	
}

nav
{
	background-color:#246B65 ;
	line-height: 200%;
	display: block;
}

nav li {
	
	display: inline;
	padding-right:40px;
	list-style-type: none;
	
}

nav a:link
{
	color:white;
	text-decoration: none;
}

nav a:visited
{
	color:white;
}

nav a:hover
{
	text-decoration:underline;
	
}

nav a:active
{
	text-decoration:underline;
	color:red;
}



